<html>

  <head>

    <title>Kickstart your GUI</title>
    <link rel="stylesheet" type="text/css" href="/styles/screen.css">

  </head>

  <body>

    <h1>Kickstart your GUI</h1>

    <% if( twitter ) { %>

      <p>Logged in as <strong><%= twitter.screen_name %></strong></p>

    <% } %>

    <%- body %>

    <script src="/scripts/main.js"></script>

  </body>

</html>
