<html>

  <head>

    <title>Kickstart your GUI</title>
    <link rel="stylesheet" type="text/css" href="/styles/screen.css">

  </head>

  <body>

    <h1>Kickstart your GUI</h1>

    <% if( twitter ) { %>

      <p>Hello <strong><%= twitter.screen_name %></strong> =)</p>
      <form action="/auth" method="post">

        <input type="hidden" name="_method" value="delete">
        <button type="submit">Logout</button>

      </form>

    <% } else { %>

      <p><a href="/auth">Login</a> is required for suggesting new Projects an vote on existing ones</p>

    <% } %>

    <%- body %>

    <script src="/scripts/main.js"></script>

  </body>

</html>
